PizzaAPI/PizzaAPI/Service References/ServiceReference/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PizService/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizService.Models" />
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetAddressesResult" nillable="true" type="q1:ArrayOfAddressDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheesesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetCheesesResult" nillable="true" type="q2:ArrayOfCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrusts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrustsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetCrustsResult" nillable="true" type="q3:ArrayOfCrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetCustomersResult" nillable="true" type="q4:ArrayOfCustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetCustomerOrderResult" nillable="true" type="q5:ArrayOfCustomerOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetEmailsResult" nillable="true" type="q6:ArrayOfEmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetNamesResult" nillable="true" type="q7:ArrayOfNameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetOrdersResult" nillable="true" type="q8:ArrayOfOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetPhonesResult" nillable="true" type="q9:ArrayOfPhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaCheeses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaCheesesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetPizzaCheesesResult" nillable="true" type="q10:ArrayOfPizzaCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetPizzasResult" nillable="true" type="q11:ArrayOfPizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetPizzaOrdersResult" nillable="true" type="q12:ArrayOfPizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetPizzaToppingsResult" nillable="true" type="q13:ArrayOfPizzaToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaucess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaucessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetSaucessResult" nillable="true" type="q14:ArrayOfSauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetSizesResult" nillable="true" type="q15:ArrayOfSizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetStoresResult" nillable="true" type="q16:ArrayOfStoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="GetToppingsResult" nillable="true" type="q17:ArrayOfToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q18:AddressDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q19:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q20:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q21:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q22:CustomerOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q23:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q24:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q25:OrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q26:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q27:PizzaCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q28:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q29:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q30:PizzaToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q31:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q32:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q33:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q34:ToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q35:AddressDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q36:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q37:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q38:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q39:CustomerOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q40:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q41:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q42:OrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q43:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q44:PizzaCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePizzaCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q45:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q46:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q47:PizzaToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePizzaToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePizzaToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q48:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q49:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q50:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q51:ToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q52:AddressDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q53:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q54:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q55:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q56:CustomerOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q57:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q58:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q59:OrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q60:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q61:PizzaCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q62:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q63:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q64:PizzaToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q65:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q66:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q67:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PizService.Models" minOccurs="0" name="itm" nillable="true" type="q68:ToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>